<div *ngIf="item.name" class="card">
  <img  class="card-img-top" src="https://picsum.photos/500/300?random={{item.name}}" alt="{{ item.name }}">
  <div class="card-body">
    <h4 class="card-title">{{ item.name }}</h4>
    <p class="card-text">{{ item.price | currency:'GBP':true }}</p>
  </div>
  <div  class="card-footer text center" *ngIf="user?.email">
    <button 
    *ngIf="quantity === 0; else updateQuantity"
      class="btn btn-secondary btn-block" (click)="add(item)" >Add to Cart</button>
    

    <ng-template #updateQuantity >
      <app-item-quatity [quantity]="quantity"  [item]="item">
      </app-item-quatity>
    </ng-template>
  </div>
</div>   
